<h1>Form TDD</h1>

<form name="myForm" method="POST" action="/form-server">
  <input type="text" name="company">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="submit">
</form>
