<h1>OMDB Search</h1>

<form name="movieForm">
  <input type="text" name="search" placeholder="Search movie min 3">
  <input type="submit">
</form>

<div id="main"></div>

<script src="/js/omdb.js"></script>